<a [routerLink]="['/dashboard']">Go to Polls</a>

<hr>

<h3>{{poll.question}}</h3>
<p>Click the vote button to choose one</p>

<table>
	<tr>
		<th>Option</th>
		<th>Current Count of Votes</th>
		<th>Action</th>
	</tr>
	<tr>
		<td>{{poll.option1}}</td>
		<td>{{poll.option1Votes}}</td>
		<td>
		<button (click)="addVote('option1Votes')" >Vote</button>
		</td>
	</tr>
	<tr>
		<td>{{poll.option2}}</td>
		<td>{{poll.option2Votes}}</td>
		<td>
		<button (click)="addVote('option2Votes')" >Vote</button>
		</td>
	</tr>
		<tr>
		<td>{{poll.option3}}</td>
		<td>{{poll.option3Votes}}</td>
		<td>
		<button (click)="addVote('option3Votes')" >Vote</button>
		</td>
	</tr>
		<tr>
		<td>{{poll.option4}}</td>
		<td>{{poll.option4Votes}}</td>
		<td>
		<button (click)="addVote('option4Votes')" >Vote</button>
		</td>
	</tr>
</table>